
<%- include('../layout/partials/head_admin') %>
	
<%- include('../layout/partials/header_admin') %>

<%- include('../layout/partials/nav_admin') %>
<!-- Page Wrapper -->
<div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-7 col-auto">
								<h3 class="page-title">Customers</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index">Dashboard</a></li>
									<li class="breadcrumb-item active">Customers</li>
								</ul>
							</div>
							<div class="col-sm-5 col">
								<a href="#Add_Customers_details" data-toggle="modal" class="btn btn-primary float-right mt-2">Booking Management</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="row">
						<div class="col-sm-12">

									<div class="appointments">

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="#" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Richard Wilson</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 14 Nov 2020, 10.00 AM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> richard@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 923 782 4575</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient1.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Charlene Reed </a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 12 Nov 2020, 5.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> North Carolina, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> charlenereed@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 828 632 9170</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient2.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Travis Trimble</a></h3>

                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 11 Nov 2020, 8.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Maine, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> travistrimble@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 207 729 9974</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>

                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient3.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Carl Kelly</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 9 Nov 2020, 9.00 AM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Newyork, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> carlkelly@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 260 724 7769</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient4.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Michelle Fairfax</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 9 Nov 2020, 1.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Indiana, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> michellefairfax@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 504 368 6874</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient5.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Gina Moore</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 8 Nov 2020, 3.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Florida, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> ginamoore@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 954 820 7887</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient6.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Elsie Gilley</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 6 Nov 2020, 9.00 AM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Kentucky, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> elsiegilley@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 315 384 4562</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient7.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Joan Gardner</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 5 Nov 2020, 12.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> California, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> joangardner@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 707 2202 603</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient8.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Daniel Griffing</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 5 Nov 2020, 7.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> New Jersey, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> danielgriffing@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 973 773 9497</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient9.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Walter Roberson</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 4 Nov 2020, 10.00 AM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Florida, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> walterroberson@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 850 358 4445</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient10.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Robert Rhodes</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 4 Nov 2020, 11.00 AM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> California, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> robertrhodes@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 858 259 5285</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                        <!-- Appointment List -->
                                        <div class="appointment-list">
                                            <div class="profile-info-widget">
                                                <a href="patient-profile" class="booking-doc-img">
                                                    <img src="../assets_admin/img/patients/patient11.jpg" alt="User Image">
                                                </a>
                                                <div class="profile-det-info">
                                                    <h3><a href="patient-profile">Harry Williams</a></h3>
                                                    <div class="patient-details">
                                                        <h5><i class="far fa-clock"></i> 3 Nov 2020, 6.00 PM</h5>
                                                        <h5><i class="fas fa-map-marker-alt"></i> Colorado, United States</h5>
                                                        <h5><i class="fas fa-envelope"></i> harrywilliams@example.com</h5>
                                                        <h5 class="mb-0"><i class="fas fa-phone"></i> +1 303 607 7075</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="appointment-action">
                                                <a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
                                                    <i class="far fa-eye"></i> View
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-success-light">
                                                    <i class="fas fa-check"></i> Accept
                                                </a>
                                                <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-times"></i> Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /Appointment List -->

                                    </div>

						</div>
					</div>
                </div>

			</div>
			<!-- /Page Wrapper -->
<!-- Appointment Details Modal -->
<div class="modal fade custom-modal" id="appt_details">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appointment Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="info-details">
                    <li>
                        <div class="details-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="title">#APT0001</span>
                                    <span class="text">21 Oct 2020 10:00 AM</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="title">Status:</span>
                        <span class="text">Completed</span>
                    </li>
                    <li>
                        <span class="title">Confirm Date:</span>
                        <span class="text">29 Jun 2020</span>
                    </li>
                    <li>
                        <span class="title">Paid Amount</span>
                        <span class="text">$450</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Appointment Details Modal -->

			<!-- Add Modal -->
			<div class="modal fade" id="Add_Customers_details" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add Customers</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="row form-row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Customers</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Image</label>
											<input type="file"  class="form-control">
										</div>
									</div>

								</div>
								<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /ADD Modal -->

			<!-- Edit Details Modal -->
			<div class="modal fade" id="edit_Customers_details" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Customers</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="row form-row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Customers</label>
											<input type="text" class="form-control" value="Cardiology">
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Image</label>
											<input type="file"  class="form-control">
										</div>
									</div>

								</div>
								<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /Edit Details Modal -->

			<!-- Delete Modal -->
			<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
					<!--	<div class="modal-header">
							<h5 class="modal-title">Delete</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>-->
						<div class="modal-body">
							<div class="form-content p-2">
								<h4 class="modal-title">Delete</h4>
								<p class="mb-4">Are you sure want to delete?</p>
								<button type="button" class="btn btn-primary">Save </button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Delete Modal -->
        </div>
        <!-- /Main Wrapper -->

 <%- include('../layout/partials/footer_admin-scripts') %>

